<h1>Reactive Form</h1>
<form [formGroup]="userForm" (ngSubmit) = 'submitData()'>
 <div>
    <div>
        <label for="name">Name: </label>
        <input type="text" placeholder="Enter Name" name="name" formControlName="name">
    </div><br>
    <div>
        <label for="name">Email: </label>
        <input type="email" placeholder="Enter Email" name="email" formControlName="email">
    </div><br>

    <div formGroupName="address">
        <label for="street">Street: </label>
        <input type="text" placeholder="Enter Street" name="street" formControlName="street">

        <label for="name">City: </label>
        <input type="text" placeholder="Enter City" name="city" formControlName="city">
    </div>
    <div formArrayName="phoneNumbers">
        <div *ngFor="let arr of phoneNumbers.controls; let i = index">
            <label>Phone Number {{i+1}}: </label>
            <input type="number" [formControlName]="i">
            <button type="submit" (click)="removerPhoneNumber(i)">Remove Phone Number</button><br>
        </div>
    </div>
    <br>
    <button type="submit" (click)="addPhoneNumber()">Add Phone Number</button>
    
    <button type="submit" [disabled] = '!userForm.valid'>Submit</button>
    </div>
</form>