<h1>child Component</h1>
<table border="1">
    <tbody>
        <tr>
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Age</th>
            <th>Address</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>{{dataToChild?.fullName}}</td>
            <td>{{dataToChild?.email}}</td>
            <td>{{dataToChild?.age}}</td>
            <td>{{dataToChild?.address}}</td>
            <td><button>Edit</button></td>
            <td><button>Remove</button></td>
        </tr>
    </tbody>
</table>
