<h1>child Component</h1>
<table border="1">
    <tbody>
        <tr>
            <th>Full Name</th>
            <th>E-mail</th>
            <th>Age</th>
            <th>Address</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
            <tr *ngFor="let item of dataFromParent">
                <td>{{ item.fullName }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.address }}</td>
            <td><button (click) = 'update(item)'>Edit</button></td>
            <td><button (click) = 'removeItem(item)'>Remove</button></td>
        </tr>
        <tr *ngIf="dataFromParent?.length">
            <td colspan="6" (click) = 'clearAll()'><button style="width: 100%;">Clear All</button></td>
        </tr>
    </tbody>
</table>
